:root {
    --color1: #6F5F90; /* Fondo oscuro */
    --color2: #597e7b; /* Fondo oscuro */
    --color3: #FF7889; /* Color claro */
    --color4: #002b56; /* Color claro */
    --color5: #A5CAD2; /* Color claro */
    --color6:  #FFFFFFFF;
}

body {
    background: linear-gradient(to bottom right, var(--color1), var(--color2));
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--color3); /* Utiliza el fondo oscuro definido */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    width: 50%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--color6); /* Utiliza el color claro definido */
}

input[type="text"],
select,
input[type="date"],
input[type="submit"],
a {
    background-color: var(--color2); /* Utiliza el fondo oscuro definido */
    color: var(--color6); /* Utiliza el color claro definido */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
}

input[type="text"]:focus,
select:focus,
input[type="date"]:focus {
    outline: none;
}

input[type="submit"]:hover,
a:hover {
    background-color: var(--color3); /* Utiliza el color claro definido */
}
